<div class="container">

  <h2>Cart</h2>
  <ul>
    <% @cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %> <%= number_to_currency(item.total_price) %></li>
    <% end %>
  </ul>

  <p>Total: <%= number_to_currency(@cart.total_price) %></p>


  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <%= link_to 'Edit', edit_cart_path(@cart) %>
  <%= link_to 'Back', carts_path %>

</div>


