<div class="container">

  <div>
    <h1 class="d-inline-block">Products</h1>
    <%= link_to 'New Product', new_product_path, class: "btn btn-primary mb-3 ml-3" %>
  </div>

  <% @products.each do |product| %>
    <div class="row mb-3">
      <div class="col-md-4">
        <%= image_tag(product.image_url, class: 'img-fluid rounded mb-3 mb-md-0 product-img') %>
      </div>
      <div class="col-md-8">
        <h3><%= product.title %></h3>
        <p><%= truncate(strip_tags(product.description), length: 500) %></p>
        <p>$<%= product.price %></p>
        <%= link_to 'Show', product, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>